.order{
  margin-top: 115px;
}
.order-title{
  margin-bottom: 65px;
}
TABLE {
  width: 100%;
  border: 2px solid black !important;
 }
 TD, TH {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.086) !important;
  width: 33%;
 }
 tr {
  padding-top: 120px !important;
}
.order-block{
  background: $black;
  border-radius: 14px;
  width: 95%;
  height: 90px;
  display: flex;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.04em;
}
.order-img{
  padding: 5px ;
  border-radius: 10px;
  background-color: $blue;
  margin: 0px 20px;
}
.order-slider{
  display: none;
}